// Break points
$sm-breakpoint: 375px;
$md-breakpoint: 850px;

$white: hsl(0, 0%, 100%);

$dm-elem: hsl(209, 23%, 22%);
$dm-bg: hsl(207, 26%, 17%);
$dm-text: hsl(0, 0%, 100%);

$lm-bg: hsl(0, 0%, 100%);
$lm-text: hsl(200, 15%, 8%);
$lm-elem: hsl(0, 0%, 98%);
$lm-input: hsl(0, 0%, 52%);

// Fonts sizes
$fs-14: 14px;
$fs-16: 16px;

// Font weights
$fw-300: 300;
$fw-600: 600;
$fw-800: 800;
